@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

:root {
  --padding-container: 100px 0;
  --color-title: #333;
  --verde-claro: #2bb4af;
  --azul-oscuro: #225f98;
  --azul-claro: #3afff8;
  --verde-oscuro: #1e847f;
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  /* overflow: hidden; */
  padding: var(--padding-container);
}

/* --------------------------- SECCION HERO ---------------------------*/

/* Estilos del header */
.hero {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  max-height: 800px;
  position: relative;
  display: grid;
  grid-template-rows: 100px 1fr;
  color: #fff;
  animation: fadeIn 1s ease-in-out; /* Animación de entrada */
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../images/pilates6.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
}

/* Hero container */
.hero__container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
  animation: fadeIn 2s ease-in-out; /* Animación de entrada */
}

.hero__title {
  font-size: 46px;
  line-height: 1.5;
  margin-top: 150px;
  text-transform: uppercase;
  color: #fff;
}

.hero__paragraph {
  font-size: 21px;
  line-height: 1.6;
  margin-bottom: 30px;
}

/* Botones */
.cta-primary,
.cta-secondary {
  display: inline-block;
  padding: 14px 28px;
  margin: 20px 8px 10px;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  text-transform: uppercase;
  border-radius: 25px;
}

.cta-primary {
  background-color: var(--verde-claro);
  color: #fff;
}

.cta-secondary {
  background-color: var(--azul-oscuro);
  color: #fff;
}

.cta-primary:hover {
  background-color: var(--verde-oscuro);
}

.cta-secondary:hover {
  background-color: #223098;
}

/* Animación */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Estilos para dispositivos que no sean de escritorio */
@media only screen and (max-width: 767px) {
  .hero__container {
    margin-top: 170px;
    text-align: center;
  }

  .hero__title {
    font-size: 30px;
    margin-top: 90px;
  }

  .hero__paragraph {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .cta-primary,
  .cta-secondary {
    font-size: 16px;
    padding: 12px 24px;
    margin: 10px 0;
  }
}

/* -------------------------- NAV -------------------------- */

.nav {
  --padding-container: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav__title {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

/* Estilos para dispositivos pequeños */
@media screen and (max-width: 767px) {
  .nav__title {
    font-size: 12px;
    text-align: left;
  }
}

/* para ipad */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .nav__title {
    font-size: 20px;
  }
}

.nav__link {
  margin-left: auto;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav__link.nav__link--menu {
  gap: 1em;
}

.nav__items {
  list-style: none;
  font-family: "Montserrat", sans-serif;
}

.nav__links {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  padding: 10px 15px;
  border-radius: 8px;
  transition: transform 0.3s ease, font-size 0.3s ease;
}

.nav__links:hover {
  color: var(--verde-claro);
}

.nav__menu {
  margin-left: auto;
  cursor: pointer;
  display: none;
}

.nav__img {
  display: block;
  width: 30px;
  color: #fff;
}

.nav__close {
  display: var(--show, none);
}

.nav__logo {
  display: flex;
  align-items: center;
}

.nav__logo img {
  width: 40px;
  margin-right: 20px;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .nav__logo img {
    width: 40px;
  }
}

/* ----------------- SECCION NOSOTROS ------------------- */

.about-section {
  width: 90%;
  max-width: 1200px;
  margin: 50px auto;
  text-align: center;
}

.about-heading {
  font-size: 2.2rem;
  color: var(--verde-claro);
  margin-bottom: 25px;
  position: relative;
  text-transform: uppercase;
}

.about-heading span {
  color: var(--verde-claro);
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.about:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}

.about-content {
  flex: 1;
  padding: 40px;
  text-align: left;
}

.about-content h2 {
  font-size: 30px;
  margin-bottom: 15px;
  color: var(--color-title);
}

.about-content p {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-title);
}

.about-content span {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--verde-claro);
}

.about-image {
  flex: 1;
  overflow: hidden;
}

.about-image img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 10px 0 0 10px;
  transition: transform 0.5s ease;
}

/* Media query para dispositivos móviles */
@media screen and (max-width: 768px) {
  .about-section {
    padding: 0 20px;
    margin-bottom: 50px;
  }

  .about-heading {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .about {
    flex-direction: column;
    border-radius: 10px;
  }

  .about-content {
    padding: 20px;
    text-align: center;
  }

  .about-image {
    margin-top: 20px;
  }

  .about-image img {
    border-radius: 10px;
  }
}

/* -------------------- SECCION ACTIVIDADES -------------------- */

#actividades {
  margin-bottom: 20px;
}

.activities {
  padding: 50px 0;
}

.subtitle {
  font-size: 2rem;
  color: var(--verde-claro);
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.activities__paragraph {
  font-size: 1.2rem;
  color: #333;
  text-align: center;
  margin-bottom: 40px;
}

.activities__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.activity {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}

/* .activity:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
} */

.card__image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card__content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card__title {
  font-size: 1.5rem;
  color: var(--color-title);
  margin: 10px 0;
  text-align: center;
  text-transform: capitalize;
}

.card__description {
  font-size: 1rem;
  color: var(--color-title);
  margin-bottom: 15px;
  text-align: center;
}

.benefits {
  margin-bottom: 25px;
  text-align: left;
}

.benefits li {
  list-style: none;
  margin-bottom: 5px;
  color: var(--color-title);
  position: relative;
  padding-left: 25px;
}

.benefits li:before {
  content: "\f058";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: var(--verde-claro);
  font-size: 15px;
}

.cta {
  display: block;
  margin: 20px auto 0;
  width: fit-content;
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  border-radius: 25px;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  text-transform: uppercase;
  background-color: var(--verde-claro);
  color: #fff;
}

.cta:hover {
  background-color: var(--verde-oscuro);
}

/* Estilos para dispositivos medianos (como el iPad) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .activities__grid {
    justify-content: center;
  }

  .activity {
    max-width: 300px;
    margin-bottom: 30px;
  }
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 767px) {
  .activities {
    padding: 50px 15px;
  }

  .activities__grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .card__content {
    padding: 20px 10px;
  }
}

/* ------------------------------ HORARIOS -------------------------------- */

.schedule-section {
  margin: 20px auto;
  max-width: 800px;
  overflow-x: auto;
  padding: 30px;
  background-color: #e9ecef;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.schedule {
  width: 100%;
  margin-bottom: 50px;
}

.schedule h2 {
  font-size: 2rem;
  margin-bottom: 18px;
  text-align: center;
  color: var(--verde-claro);
  text-transform: uppercase;
}

.schedule-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.schedule-table th,
.schedule-table td {
  padding: 15px;
  width: 16.666%;
  box-sizing: border-box;
  text-align: center;
  color: #333;
  font-weight: 500;
}

.schedule-table th {
  background-color: var(--verde-claro);
  font-size: 1rem;
  color: #fff;
  text-transform: uppercase;
}

.schedule-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.schedule-table tbody tr:nth-child(odd) {
  background-color: #e9ecef;
}

.schedule-table tbody tr:hover {
  background-color: #f0f0f0;
}

.schedule-table tbody tr td {
  height: 50px;
}

@media screen and (max-width: 600px) {
  .schedule-section {
    overflow-x: auto;
    padding: 20px 0;
  }

  .schedule-table th {
    font-size: 0;
  }

  .schedule-table th::after {
    content: attr(data-initial);
    font-size: 1rem;
  }

  .schedule-table th,
  .schedule-table td {
    padding: 10px;
  }

  .schedule-table tbody tr td {
    height: 40px;
  }
}

@media (max-width: 768px) {
  .schedule-section {
    overflow-x: auto;
    padding: 20px 0;
    margin: 0 auto;
  }

  .schedule-table th {
    font-size: 0;
  }

  .schedule-table th::after {
    content: attr(data-initial);
    font-size: 1rem;
  }

  .schedule-table th,
  .schedule-table td {
    padding: 10px;
  }

  .schedule-table tbody tr td {
    height: 40px;
  }
}

/* ------------------------- LISTA DE PRECIOS --------------------------- */

.pricing {
  padding: 50px 0;
  background-color: #f4f4f4;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.section-title-plan {
  font-size: 2.5rem;
  color: var(--verde-claro);
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.section-subtitle {
  font-size: 1.2rem;
  color: #666;
  text-align: center;
  margin-bottom: 30px;
  font-weight: 500;
  text-transform: uppercase;
}

.pricing-plans {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.pricing-plan {
  width: 300px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.pricing-plan:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.plan-name {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.plan-price {
  font-size: 2rem;
  font-weight: 500;
  color: var(--verde-claro);
  margin-bottom: 20px;
}

.plan-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--verde-claro);
  color: #fff;
  border: none;
  border-radius: 25px;
  transition: background-color 0.3s;
}

.plan-btn:hover {
  background-color: var(--verde-oscuro);
}

@media (max-width: 768px) {
  .section-title {
    font-size: 2rem;
  }

  .pricing-plan {
    width: 100%;
    margin: 10px 0;
  }
}

/* ---------------------------- TESTIMONIOS ----------------------------- */
#opiniones {
  text-align: center;
  padding: 100px 0;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../images/bahia.png");
  background-size: cover;
  background-position: center;
  color: #fff;
}

.opinion-card {
  background-color: rgba(238, 238, 238, 0.9);
  padding: 30px;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  position: relative;
  color: #333;
}

.opinion-card h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: var(--verde-claro);
  text-transform: uppercase;
}

.opinion-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.opinion {
  display: none;
}

.opinion.active {
  display: block;
}

.opinion-content {
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  max-width: 600px;
  margin: 0 auto;
}

.opinion p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #333;
  margin-bottom: 10px;
}

.opinion span {
  display: block;
  font-size: 1rem;
  color: var(--verde-oscuro);
  text-align: right;
}

.arrow-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.arrow {
  font-size: 2rem;
  color: var(--verde-claro);
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  background: #fff;
  transition: background-color 0.3s, color 0.3s;
}

.arrow:hover {
  background-color: var(--verde-claro);
  color: #fff;
}

@media (max-width: 768px) {
  #opiniones {
    padding: 80px 0;
  }

  .opinion-card {
    padding: 20px;
  }

  .opinion p {
    font-size: 1rem;
    margin-bottom: 10px;
    height: 170px;
  }

  .opinion span {
    font-size: 0.9rem;
  }

  .arrow {
    font-size: 1.5rem;
  }
}

@media (max-width: 576px) {
  .opinion-card {
    max-width: 90%;
  }
}

/* ------------------------- PREGUNTAS FRECUENTES -------------------------- */

#preguntas-frecuentes {
  margin-top: 40px;
}

.questions {
  text-align: center;
  margin-top: 40px;
}

.questions__paragraph {
  font-size: 18px;
  color: #666;
  margin-bottom: 30px;
}

.questions__container {
  display: grid;
  gap: 20px;
}

.questions__padding {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  transition: box-shadow 0.3s;
}

.questions__padding:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.questions__title {
  font-size: 20px;
  padding: 15px 0;
  cursor: pointer;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.questions__arrow {
  border-radius: 50%;
  background-color: var(--color-title);
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  margin-left: 10px;
  transition: transform 0.3s;
}

.questions__title:hover .questions__arrow {
  transform: rotate(180deg);
}

.questions__show {
  text-align: left;
  height: 0;
  overflow: hidden;
  transition: height 0.3s;
}

.questions__answer.active .questions__show {
  height: auto;
  padding: 15px 0;
}

.questions__copy {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 30px;
  color: #666;
}

/* ---------------------------------- GALERIA DE IMAGENES ------------------------------- */

#galeria {
  margin-top: 50px;
  background: linear-gradient(to right, #333, #646464);
  padding: 50px 0;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.section-title {
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
}

.gallery-item {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  height: 300px;
}

.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.3s, filter 0.3s;
}

.gallery-img:hover {
  transform: scale(1.05);
  filter: brightness(0.8);
}

@media (max-width: 768px) {
  #galeria .gallery {
    grid-template-columns: 1fr;
  }

  .gallery-item {
    height: 200px;
  }
}

/* ---------------------------------- UBICACIÓN ------------------------------- */

.contact {
  padding: 60px 20px;
  text-align: center;
  background-color: #f9f9f9;
  margin-top: 40px;
  border-radius: 10px;
}

.contact .subtitle {
  font-size: 2.5rem;
  color: var(--verde-claro);
  margin-bottom: 20px;
  text-transform: uppercase;
}

.contact__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__map {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.contact__map iframe {
  width: 100%;
  max-width: 800px;
  border: 0;
  border-radius: 10px;
}

.contact__info {
  margin-top: 30px;
  width: 100%;
  max-width: 600px;
  text-align: left;
}

.contact__heading {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--verde-claro);
  text-transform: uppercase;
  text-align: center;
}

.contact__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.contact__item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 1rem;
}

.contact__item a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

.contact__item a:hover {
  color: var(--verde-claro);
}

.contact__item i {
  margin-right: 10px;
  color: var(--verde-claro);
  font-size: 1.5rem;
  text-decoration: none;
}

.contact__item span {
  color: var(--color-texto);
  line-height: 1.5;
}

@media screen and (max-width: 768px) {
  .contact__map iframe {
    height: 300px;
  }

  .contact__info {
    text-align: center;
  }

  .contact__item {
    justify-content: center;
  }

  .contact__item i {
    margin-right: 5px;
  }
}

/* ---------------------------------- FOOTER ------------------------------- */
.footer {
  background-color: #1a1a1a;
  color: #fff;
  padding: 50px 0;
  text-align: center;
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer__section {
  flex: 1;
  min-width: 200px;
  margin: 20px 0;
}

.footer__heading {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--verde-claro);
}

.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__list li {
  margin-bottom: 20px;
}

.footer__list a {
  text-decoration: none;
  color: #fff;
  transition: color 0.2s ease-in-out;
}

.footer__list a:hover {
  color: var(--verde-claro);
}

.footer__section p {
  margin-bottom: 20px;
  color: inherit;
}

.footer__section i {
  font-size: 1.8rem;
  margin-right: 10px;
  vertical-align: middle;
}

.footer__social-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.footer__social-list li {
  margin: 0 10px;
}

.footer__social-list a {
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  transition: color 0.3s ease;
}

.footer__social-list a:hover {
  color: var(--verde-claro);
}

.footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
  color: #ccc;
  margin-top: 0;
  border-top: 1px solid #444;
  padding: 0px 0;
  text-align: center;
}

.footer__copyright p {
  font-size: 1.2rem;
  margin-top: 50px;
}

@media screen and (max-width: 768px) {
  .footer__container {
    flex-direction: column;
    align-items: center;
  }

  .footer__section {
    text-align: center;
    margin: 20px 0;
  }
}

/* ----------------------- BOTÓN FLOTANTE ----------------------- */

/* styles.css */
.floating-buttons {
  position: fixed;
  bottom: 2px;
  right: 5px;
}

.floating-button {
  margin-bottom: 10px;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  transition: 0.2s ease-in-out;
}

.floating-button a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

.floating-button.tomoTurno {
  background-image: url(/images/tomoTurno.png);
  background-size: 160%;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 6px;
}

.floating-button.whatsapp {
  background-color: #25d366;
  font-size: 30px;
}

.floating-button.whatsapp:hover {
  background-color: #1bad50;
}

#btnScrollToTop {
  position: fixed;
  bottom: 115px;
  right: 5px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: #007bff;
  color: white;
  font-size: 24px;
  cursor: pointer;
  transition: opacity 0.3s;
  text-align: center;
}

.floating-button i.fa-arrow-up {
  display: flex;
  justify-content: center;
  align-items: center;
}

#btnScrollToTop:hover {
  opacity: 0.8;
}

/* ------------------------ Media queries ---------------------------- */
@media (max-width: 800px) {
  .nav__menu {
    display: block;
  }

  .nav__link--menu {
    position: fixed;
    background-color: var(--verde-oscuro);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: 0.7s opacity;
  }

  .nav__link--show {
    --show: block;
    opacity: 1;
    pointer-events: unset;
  }

  .nav__close {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    cursor: pointer;
  }

  .hero__title {
    font-size: 2.5rem;
  }

  .about__main {
    gap: 2em;
  }

  .about__icons:last-of-type {
    grid-column: 1/-1;
  }

  .knowledge__container {
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr;
    gap: 3em;
    text-align: center;
  }

  .knowledge__picture {
    grid-row: 1/2;
    justify-self: center;
  }

  .testimony__container {
    grid-template-columns: 30px 1fr 30px;
  }

  .testimony__body {
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content;
    gap: 3em;
    justify-items: center;
  }

  .testimony__img {
    width: 200px;
    height: 200px;
  }

  .questions__copy {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .hero__title {
    font-size: 2rem;
  }

  .hero__paragraph {
    font-size: 1rem;
  }

  .subtitle {
    font-size: 1.8rem;
  }

  .price__element {
    width: 90%;
  }

  .price__element--best {
    width: 90%;
  }

  .price__price {
    font-size: 2rem;
  }

  .testimony {
    --padding-container: 60px 0;
  }

  .testimony__container {
    grid-template-columns: 28px 1fr 28px;
    gap: 0.9em;
  }

  .testimony__arrow {
    width: 100%;
  }

  .testimony__course {
    margin-top: 15px;
  }

  .questions__title {
    font-size: 1rem;
  }

  .footer__title {
    justify-self: start;
    margin-bottom: 15px;
  }

  .nav--footer {
    padding-bottom: 60px;
  }

  .nav__link--footer {
    justify-content: space-between;
  }

  .footer__inputs {
    flex-wrap: wrap;
  }

  .footer__input {
    flex-basis: 100%;
    margin: 0;
    margin-bottom: 16px;
  }

  .footer__submit {
    margin-right: auto;
    margin-left: 0;
  }
}
